<furrmans-layout [orientation]="languageOrientation">
  <furrmans-sidebar role="sidebar" [orientation]="languageOrientation">
    <div *furrmansSidebarItem>
      <button
        class="
          w-40
          bg-transparent
          hover:bg-blue-500
          text-blue-700
          font-semibold
          hover:text-white
          py-2
          px-4
          border border-blue-500
          hover:border-transparent
          rounded
        "
        (click)="changeLanguageOrientation()"
      >
        change language
      </button>
    </div>
    <span *furrmansSidebarItem> simple span  </span>
  </furrmans-sidebar>
</furrmans-layout>
